.panda-bg-info{
    background-color: #fceae8;
}
#subscribe{
    height: 300px;
}
.catagories img{
    width: 100px;
}
.catagories{
    border-radius: 20px;
}
footer{
    margin-top: 20px;
    text-align: center;
}